doctype html
html
    head
        include header.jade
     //body.nav-md(onload='runMaps()')
    body.nav-md
     div.container.body
      div.main_container
        include navigation.jade
        include sidebar.jade
        block content
        include footer.jade
        include js.jade
